#!/bin/bash

# this section deal the sshfs mount

# usage: sshfs_mount username host remotepath locatepath
function sshfs_mount() {
if [ -d $4 ]; then
    mkdir $1
fi

echo "mount $3 -> $4"
sshfs $1@$2:$3 $4
}

function sshfs_mount_group() {
case $1 in
    "m241" )
        sshfs_mount chenqiwei 192.168.0.241 /media/workspace2/chenqiwei /home/chqw/mnt/m241
        ;;
    * )
        echo "unknown sshfs mount command: $1"
        ;;
esac
}


